<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="clearpath_base_station">

  <xacro:property name="package_path" value="$(find arm_mazzolini)"/>
  <xacro:property name="mesh_path" value="${package_path}/meshes/agriculture_world"/>

  <xacro:macro name="cpr_base_station" params="name parent *origin">
    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="${mesh_path}/BaseStationWithTripod.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="${mesh_path}/BaseStationWithTripod.stl" />
        </geometry>
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>
