<?xml version="1.0" ?>
<robot name="softleg_cart"  xmlns:xacro="http://ros.org/wiki/xacro">
    <ros2_control name="MoteusPi3Hat_Interface" type="system">
        <hardware>
            <plugin>pi3hat_hw_interface/MoteusPi3Hat_Interface</plugin>
            <param name="timeout_ns">0</param>
            <param name="min_tx_wait_ns">20000</param>
            <param name="rx_baseline_wait_ns">200000</param>
            <param name="rx_extra_wait_ns">20000</param>
            <param name="CPU_affinity">1</param>

            <param name="request_attitude">1</param> 

            <param name="mounting_deg_roll">0</param> 
            <param name="mounting_deg_pitch">0</param> 
            <param name="mounting_deg_yaw">0</param> 

            <param name="attitude_hz">400</param> 
        </hardware>

        <joint name="joint1">  
            <param name="id">3</param>
            <param name="bus">2</param>
            <param name="second_encoder_source">-1</param>
            <param name="type">motor</param>

            <param name="KP">70.0</param> 
            <param name="KD">1.0</param> 
            <param name="KI">0.0</param> 
            <param name="i_limit">0.0</param>                     
            <param name="iratelimit">0.0</param>
            <param name="max_position_slip">0.0</param>
            <param name="max_velocity_slip">0.0</param>
            <param name="enable_motor_temperature">0</param>
            <param name="max_pos_limit">3.14</param> 
            <param name="min_pos_limit">-3.14</param>
            <param name="max_velocity">10.0</param>
            <param name="max_effort">15.0</param>
            <param name="actuator_trasmission">9.0</param>
            <param name="position_offset">0.0</param>
            <param name="second_encoder_trasmission">3.23076923</param> 

            <param name="position_res">64</param> 
            <param name="velocity_res">64</param> 
            <param name="torque_res">64</param> 
            <param name="q_current_res">8</param>
            <param name="d_current_res">0</param>
            <param name="abs_position_res">0</param>
            <param name="power_res">0</param>
            <param name="motor_temperature_res">0</param>
            <param name="voltage_res">0</param> 
            <param name="temperature_res">8</param>
            <param name="position_error_res">64</param>
            <param name="velocity_error_res">64</param>
            <param name="torque_error_res">64</param>
            <param name="second_encoder_position_res">64</param>
            <param name="second_encoder_velocity_res">64</param> 

        </joint>

        <joint name="joint2">  
            <param name="id">9</param>
            <param name="bus">1</param>
            <param name="second_encoder_source">-1</param>
            <param name="type">motor</param>

            <param name="KP">70.0</param> 
            <param name="KD">1.0</param> 
            <param name="KI">0.0</param> 
            <param name="i_limit">0.0</param>                     
            <param name="iratelimit">0.0</param>
            <param name="max_position_slip">0.0</param>
            <param name="max_velocity_slip">0.0</param>
            <param name="enable_motor_temperature">0</param>
            <param name="max_pos_limit">3.14</param> 
            <param name="min_pos_limit">-3.14</param>
            <param name="max_velocity">10.0</param>
            <param name="max_effort">15.0</param>
            <param name="actuator_trasmission">9.0</param>
            <param name="position_offset">0.0</param>
            <param name="second_encoder_trasmission">3.23076923</param> 

            <param name="position_res">64</param> 
            <param name="velocity_res">64</param> 
            <param name="torque_res">64</param> 
            <param name="q_current_res">8</param>
            <param name="d_current_res">0</param>
            <param name="abs_position_res">0</param>
            <param name="power_res">0</param>
            <param name="motor_temperature_res">0</param>
            <param name="voltage_res">0</param> 
            <param name="temperature_res">8</param>
            <param name="position_error_res">64</param>
            <param name="velocity_error_res">64</param>
            <param name="torque_error_res">64</param>
            <param name="second_encoder_position_res">64</param>
            <param name="second_encoder_velocity_res">64</param> 
        </joint>

         <joint name="Distributor_L"> 
            <param name="id">32</param>
            <param name="bus">5</param>
            <param name="type">power_dist</param>

            <param name="voltage">64</param> 
            <param name="current">64</param> 
            <param name="temperature">64</param> 
            <param name="energy">0</param>
            <param name="state">0</param>
            <param name="switch_state">0</param>
            <param name="lock_time">0</param>
            <param name="boot_time">0</param>
        </joint>

        <joint name="Distributor_R"> 
            <param name="id">33</param>
            <param name="bus">5</param>
            <param name="type">power_dist</param>

            <param name="voltage">64</param> 
            <param name="current">64</param> 
            <param name="temperature">64</param> 
            <param name="energy">0</param>
            <param name="state">0</param>
            <param name="switch_state">0</param>
            <param name="lock_time">0</param>
            <param name="boot_time">0</param>
        </joint>  
  
    </ros2_control>
</robot>
